@import "./styles/fonts.css";
@import "tailwindcss";
@import "./styles/scrollbar.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --color-primary: #6366f1; /* Indigo-500 equivalent */
  --color-primary-gradient: linear-gradient(to right, #6366f1, #a855f7);
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}

